<%- include("../../views/partials/adminPartials/headers") %>

<div class="content-header">
    <div>
        <h2 class="content-title card-title">Coupon Management</h2>
    </div>
</div>

<header class="card-header text-center mb-20">
    <!-- Add Coupon Button -->
    <div class="text-center mt-3">
        <a href="/admin/addCoupon" class="btn btn-primary" style="width: 150px;">Add Coupon</a>
    </div>
</header>

<div class="right mt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><b>Code</b></th>
                <th scope="col"><b>Type</b></th>
                <th scope="col"><b>Value</b></th>
                <th scope="col"><b>Min Order</b></th>
                <th scope="col"><b>Start Date</b></th>
                <th scope="col"><b>End Date</b></th>
                <th scope="col"><b>Maximum Discount</b></th>
                <th scope="col"><b>Action</b></th>
            </tr>
        </thead>
        <tbody>
            <% coupon.forEach(coupon => { %>
                <tr>
                    <td><%= coupon.code %></td>
                    <td><%= coupon.discountType %></td>
                    <td><%= coupon.discountValue %></td>
                    <td><%= coupon.minPurchase %></td>
                    <td><%= coupon.startDate %></td>
                    <td><%= coupon.endDate %></td>
                    <td><%= coupon.maxDiscount %></td>
                    <td>
                        <a href="/admin/editCoupon/<%= coupon._id %>" class="btn btn-info" style="width: 80px;">
                            Edit
                        </a>
                        <button class="btn btn-danger" style="width: 80px;" onclick="deleteCoupon('<%= coupon._id %>')">
                            Delete
                        </button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>   
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/javascript/deleteCoupon.js"></script>
