<%- include("../../views/partials/adminPartials/headers") %>
<div class="content-header row">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="content-title card-title">Customers</h2>
       
    </div>
</div>         
        </div>
        
            <header class="card-header text-center mb-20">
                <form action="/admin/customer" method="get" class="d-inline">
                    <div class="input-group input-group-sm border border-1 border-grey rounded-pill" style="width: 500px; margin-left: 230px;">
                        <input type="text" class="form-control border-0 rounded-pill" placeholder="Search customers..." name="search" value="<%=search%>">
                        <button class="btn  border-0" type="submit">Search</button>
                    </div>
                </form>
            </header>
            <div class="right mt-5">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col"><b>Name</b></th>
                        <th scope="col"><b>Email</b></th>
                        <th scope="col"><b>Phone No</b></th>
                        <th scope="col"><b>Action</b></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% userData.forEach((user) => { %>
                        <tr>
                          <td><%= user.name %></td>
                          <td><%= user.email %></td>
                          <td><%= user.phone %></td>
                         
                          <td>
                            <% if (!user.isBlocked) { %>
                              <a href="/admin/blockUser?id=<%= user._id %>" class="btn btn-danger btn-sm">Block</a>
                            <% } else { %>
                              <a href="/admin/unblockUser?id=<%= user._id %>" class="btn btn-success btn-sm">Unblock</a>
                            <% } %>
                          </td>
                        </tr>
                      <% }) %>
                    </tbody>
                  </table>
        </div>
        <div class="container mt-3">
          <nav aria-label="Page navigation" class="pagination-container">
            <ul class="pagination  justify-content-center">
              <% for (let i = 1; i <= totalpages; i++) { %>
                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                  <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                </li>
              <% } %>
            </ul>
          </nav>
        </div>

