<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping Address</title>
    <link rel="stylesheet" href="css/userAddress.css">
    

</head>
<%-include('../../views/partials/userPartials/usernavbar')%>

        <main class="main-content">
            <section class="address-section">
                <h1>Shipping Address</h1>
                <div class="address-card">
                    <div class="address-text">
                        <%address.forEach((addr)=>{%>
                        <p><%=addr.name%></p>
                        <p><%=addr.state%>,</p>
                        <p><%=addr.district%></p>
                        <p><%=addr.city%>,<%=addr.houseNumber%></p>
                        <p><%=addr.email%></p>
                        <p><%=addr.phone%></p>
                        <div class="address-actions">
                            <a href="/edit/<%=addr._id%>" class="action-link edit-link" >Edit</a>
                            <a href="" class="action-link remove-link">Remove</a>
                        </div>
                        <hr>
                        <%})%>
                    </div>
                </div>
                <a href="/add-address" class="add-new-link">Add new</a>
            </section>
        </main>

        <footer>
            <div class="footer-content">
                <div class="footer-section">
                    <h3>CATEGORIES</h3>
                    <a href="#">Women</a>
                    <a href="#">Men</a>
                    <a href="#">Shoes</a>
                    <a href="#">Watches</a>
                </div>
                <div class="footer-section">
                    <h3>HELP</h3>
                    <a href="#">Track Order</a>
                    <a href="#">Returns</a>
                    <a href="#">Shipping</a>
                    <a href="#">FAQs</a>
                </div>
                <div class="footer-section">
                    <h3>GET IN TOUCH</h3>
                    <p>Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879</p>
                </div>
                <div class="footer-section">
                    <h3>NEWSLETTER</h3>
                    <p>email@example.com</p>
                    <button class="subscribe-btn">SUBSCRIBE</button>
                </div>
            </div>
        </footer>
    </div>


</body>
</html>