
<%-include('../../views/partials/userPartials/header')%>
	
	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140">
		<div class="container" style="margin-top: 6rem;">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
						Women
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
						Men
					</button>

				</div>

				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
					  <li class="breadcrumb-item"><a href="/">Home</a></li>
					  <li class="breadcrumb-item active" aria-current="page">Shop</li>
					</ol>
				  </nav>

				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>
				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
					</div>	
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>

							<ul>
								<li class="p-b-6">
									<a href="/shop?sort=default" class="filter-link stext-106 trans-04">
										Default
									</a>
								</li>


								<li class="p-b-6">
									<a href="/shop?sort=new" class="filter-link stext-106 trans-04 filter-link-active">
										Newness
									</a>
								</li>

								<li class="p-b-6">
									<a href="/shop?sort=priceLowtoHigh" class="filter-link stext-106 trans-04">
										Price: Low to High
									</a>
								</li>

								<li class="p-b-6">
									<a href="/shop?sort=priceHightoLow" class="filter-link stext-106 trans-04">
										Price: High to Low
									</a>
								</li>
							</ul>
						</div>

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Price
							</div>

							<ul>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										All
									</a>
								</li>

								<li class="p-b-6">
									<a href="/shop?sort=below-1500" class="filter-link stext-106 trans-04">
										Below $1500.00 
									</a>
								</li>

								<li class="p-b-6">
									<a href="/shop?sort=1500-2000" class="filter-link stext-106 trans-04">
										$1500.00 - $2000.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="/shop?sort=2000-2500" class="filter-link stext-106 trans-04">
										$2000.00 - $2500.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="/shop?sort=2500-3000" class="filter-link stext-106 trans-04">
										$2500.00 - $3000.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="/shop?sort=3000-4000" class="filter-link stext-106 trans-04">
										$3000.00 - $4000.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="/shop?sort=Above4000" class="filter-link stext-106 trans-04">
										$4000.00+
									</a>
								</li>
							</ul>
						</div>


						<div class="filter-col3 p-r-15 p-b-27">
							
							<div class="mtext-102 cl2 p-b-15">
								Stock Availability
							</div>
							<ul>
										<li class="p-b-6">
											<span class="fs-15 lh-12 m-r-6" style="color: #222;">
												<i class="zmdi zmdi-circle"></i>
											</span>
											<a href="/shop?sort=Available" class="filter-link stext-106 trans-04">
												Available
											</a>
										</li>
										<li class="p-b-6">
											<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
												<i class="zmdi zmdi-circle"></i>
											</span>
											<a href="/shop?sort=Unavailable" class="filter-link stext-106 trans-04">
												Out of Stock
											</a>
										</li>
							</ul>
							<ul>
						</div>
						<li class="p-b-6">
							<a href="/shop?sort=alphabetical" class="filter-link stext-106 trans-04">
								Alphabetical (A-Z)
							</a>
							<a href="/shop?sort=reverseAlphabetical" class="filter-link stext-106 trans-04">
								Alphabetical (Z-A)
							</a>
						</li>
						</ul>
					</ul>
					</div>
				</div>
			</div>
			<aside class="sidebar">
				<div class="categories">Categories</div>
				<ul class="category-list">
					<li>Casuals</li>
					<li>Shirts</li>
					<li>Kurti</li>
					<li>Gown</li>
				</ul>
			</aside>
			<div class="row isotope-grid">
	

            <%products.forEach(value=>{%>
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
					<!-- Block2 -->
					<div class="block2">
						<div class="block2-pic hov-img0">
							<img src="/uploads/product-images/<%=value.productImage[0]%>" alt="IMG-PRODUCT">

							<a href="/productDetails?id=<%=value._id%>" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
								Quick View
							</a>
					
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">`
									<%=value.name%>
								<span class="stext-105 cl3">
									<%=value.salePrice%>
								</span>
							</div>

							<div class="block2-txt-child2 flex-r p-t-3">
								<a href="javascript:void(0);" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" onclick="addToWishlist('<%=value._id%>')">
									<img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png" alt="ICON">
									<img class="icon-heart2 dis-block trans-04 ab-t-l" src="images/icons/icon-heart-02.png" alt="ICON">
								</a>
							</div>
						</div>
					</div>
				</div>
              <%})%>
				
			</div>
		</div>
	</div>
	<nav aria-label="Page navigation" class="pagination-container">
		<ul class="pagination justify-content-center">
		  <% for (let i = 1; i <= totalpage; i++) { %>
			<li class="page-item <%= page === i ? 'active' : '' %>">
			  <a class="page-link" href="/shop?page=<%= i %>"><%= i %></a>
			</li>
		  <% } %>
		</ul>
	  </nav>
<script src="/javascript/shop.js">
	alert('hello')
</script>
 <%-include('../../views/partials/userPartials/footer')%>	 